---
lastUpdated: 1610-01-01
---

<script>
  import Img from '$lib/mdsvex/img2.svelte';
	import Wip from '$lib/assets/work_in_progress.webp';
</script>

> This is not written, the rating are random numbers (refresh to see different numbers)

<Img src={Wip} alt="monkey sawing a branch with a saw" />
