---
title: Grow the language with effects
description: >
  Instead of having special syntax and semantics for constructs such as `while` and `for` baked into a language, let's build them ourselves using algebraic effects!
date: 1999-01-29
tags:
  - programming languages
  - effect systems
draft: true
---

Short showcase of effect systems, Koka, and how to implement a while loop with break/continue in a language with no looping constructs.
