@import '@fontsource/ibm-plex-sans';
@import '@fontsource/jetbrains-mono';

/* TODO: support https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */

html {
  /* fonts */
  --font-family-sans: 'IBM Plex Sans', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;

  /* shapes */
  --border-radius: 10px;
}

/* We assume one of these will be set */

[color-scheme='light'] {
  color-scheme: light;

  --color-text-primary: #000;
  --color-accent-primary: #007bff;
  --color-background: #f8f9fa;
  --color-hover: #e9ecef;
}

[color-scheme='dark'] {
  color-scheme: dark;

  --color-text-primary: #fff;
  --color-accent-primary: #007bff;
  --color-background: #343a40;
  --color-hover: #454d55;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  accent-color: var(--color-accent-primary);
  background-color: var(--color-background);
}

pre,
code {
  font-family: var(--font-family-mono);
}

img {
  border-radius: var(--border-radius);
}

a {
  text-decoration-style: dashed;
}

a:hover {
  text-decoration-style: solid;
}

b {
  /* TODO: weight does not work */
  font-weight: 900;
}
