@import '@fontsource/ibm-plex-sans/400';
@import '@fontsource/ibm-plex-sans/700';
@import '@fontsource/ibm-plex-sans/400-italic';
@import '@fontsource/ibm-plex-sans/700-italic';
@import '@fontsource/jetbrains-mono';

html {
  /* fonts */
  --font-family-sans: 'IBM Plex Sans', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;

  /* shapes */
  --border-radius: 0.625rem;
}

/* We assume one of these will be set */

[color-scheme='light'] {
  color-scheme: light;

  --color-text-primary: #000;
  --color-text-secondary: #6c757d;
  --color-divider: #e5e5e5;
  --color-accent-primary: #fd7f58;
  --color-background: #f8f9fa;
  --color-hover: #e9ecef;
}

[color-scheme='dark'] {
  color-scheme: dark;

  --color-text-primary: #fff;
  --color-text-secondary: #adb5bd;
  --color-divider: #2b2b2b;
  --color-accent-primary: #fd7f58;
  --color-background: #171717;
  --color-hover: #454d55;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 12px;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

html {
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  accent-color: var(--color-accent-primary);
  background-color: var(--color-background);
}

pre,
code {
  font-family: var(--font-family-mono);
}

img {
  border-radius: var(--border-radius);
}

a {
  text-decoration-style: dashed;
  color: var(--color-text-primary);
}

a:hover {
  text-decoration-style: solid;
}

svg {
  display: block;
}
